body {
    margin : 0;
    font-family: 'Noto Sans', sans-serif;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    justify-content: space-between;
  
}

#main {
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 

  
}

#cart {
    display: flex;
    background-color: white;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1000px;
    align-items: center;
    padding-bottom: 20px;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    background-image: url(image/background.jpg);
    background-position: center center;
    background-size: cover;

}

#cart-status {
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#fullcart {
    width: 850px;
    display: block;
    height: auto;
    text-align: center;
}

.cart-item {
    background-color: rgb(247, 238, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-delete {
    height: 30px;
    width: 30px;
    background-color: #7BC5B0;
    border: none;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

#cart-total {
    background-color: rgb(38, 72, 100);
    height: 60px;
    width: 900px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.homepage {
    margin-left: 20px;
    color: #7BC5B0;
   font-weight: bold;
   font-size: 25px;
   text-decoration: none;
}

#menu {
    margin-right: 30px;
    text-decoration: none;
    color: #000000;
   

}

#cart-container {
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    background-color: rgb(235, 235, 235);
    height: 100vh;
}

#text
{  color: white;
    text-align: center;
  
}

#mainindex {
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   
}

#searchtrip{
    background-color: white;
    border-radius: 30rem;
    height: 50px;
    width: 60%;
    display: flex;

	align-items: center;
    justify-content: space-around;
   

}

#glass {
	border: none;
	background-color: transparent;
	color: black;
	cursor: pointer;
    width: 30px;
    height: auto;


}

#btnSearch{
    border: none;
	background-color: transparent;
}

#searchdate{
    display: flex;
    justify-content: center;
    align-items: center;  

}

#result {
    background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;  
    margin-top: 20px;
    width: 60%;
    border-radius: 30px;
    overflow: auto;  
   
}

#init {
  
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center; 
    overflow: auto;  
     
}

hr{
    color: #7BC5B0;
    border: 1px solid  #7BC5B0  ;
    width: 200px;
}
#btn-purchase {
    height: 35px;
    width: auto;
    background-color: #7BC5B0;
    border: none;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

#totalprice {
    color: white;
}

#bookings {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1000px;
    align-items: center;
    padding-bottom: 20px;
}

#enjoy {
    color: #7BC5B0;
}

.noData{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
     padding: 20px;
}

#imgNot{
    width: 200px;
    height: auto;
}

.tripList {
    display: flex;
    justify-content: space-around;
     align-items: center; 
     width: 500px;
     background-color: #F6EEEF;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
   
}

.btn-add {
    height: 30px;
    width: 50px;
    background-color: #7BC5B0;
    border: none;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}